p{
    display:flex;
    position:absolute;
    justify-content: space-evenly;
    margin:auto;
}
.p1{
    height:70px;
    width:60px;
  border:2px solid black;
  position:absolute;
   background-color: peachpuff;
  margin:auto;
  margin-top:200px;
   margin-left:610px;
   border-top-left-radius: 100px;
   border-top-right-radius: 100px;
  
}
.p2{
    height:74px;
    width:60px;
    border: 2px solid black;
    position:absolute;
    background-color: peachpuff;
    margin:auto;
    margin-top:200px;
    margin-left:710px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    }
    .face{
        height:200px;
        width:200px;
        border:2px solid black;
        background-color: plum;
        margin:auto;
        margin-top: 215px;
        margin-left: 590px;
        position:absolute;
        border-radius: 100px;
        
    }
    eyes{
        display:flex;
        position:absolute;
        justify-content: space-evenly;
        margin:auto;
    }
    .leye{
        height:40px;
        width:40px;
        background-color: beige;
        border-radius: 20px;
        position:absolute;
        margin-top: 60px;
        margin-left: 30px;
    }
    .reye{
        height:40px;
        width:40px;
        background-color:beige;
        border-radius: 20px;
        position:absolute;
        margin-top: 60px;
        margin-left: 130px;
    
    }
    .mouth{
        height:40px;
        width:80px;
        border:2px solid black;
        background-color: #FF0000;
        position:absolute;
        margin-top:125px;
        margin-left:61px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }
    .m1{
    
        height:20px;
        width:20px;
        background-color: rgb(90, 11, 11);
        border-radius:10px;
        position:absolute;
        margin-top:136px;
        margin-left:71px;
    }
    .m2{
    
        height:20px;
        width:20px;
        background-color: rgb(124, 17, 17);
        border-radius:10px;
        position:absolute;
        margin-top:136px;
        margin-left:114px;
    }
    .lieye{
        height:20px;
        width:20px;
        background-color: rgb(29, 219, 102);
        position:absolute;
        border-radius: 10px;
        margin-left:40px;
        margin-top:70px;
    }
    .rieye{
        height:20px;
        width:20px;
        background-color: rgb(6, 209, 40);
        position:absolute;
        border-radius: 10px;
        margin-left:140px;
        margin-top:70px;
    }